<% if @list.photo.attached? %>
  <%= cl_image_tag @list.photo.key, height: 300, width: 100, crop: :fill %>
<% end %>
<div class="header d-flex flex-row align-items-start gap-2">
  <%= link_to lists_path, class: "btn btn-primary" do %>
    <i class="fa-solid fa-arrow-left"></i>
    Back
  <% end %>
  <h2 class="ms-4 flex-grow-1"><%= @list.name %></h2>
  <%= link_to list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this list ?"}, class: 'btn btn-outline-danger' do %>
    <i class="fa-regular fa-trash-can"></i>
  <% end %>
  <%= link_to new_list_bookmark_path(@list), class: "btn btn-outline-primary" do %>
    <i class="fa-solid fa-plus"></i>
    Add film
  <% end %>
  </div>

<ul class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3 list-unstyled">
  <% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <li class="p-2 col">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column gap-2">
            <%= image_tag(movie.poster_url, alt: movie.title, class: "rounded") %>
            <h5><%= movie.title %></h5>
            <p class="text-secondary">"<%= bookmark.comment %>"</p>
          </div>
          <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'btn btn-danger text-white' do %>
            <i class="fa-regular fa-trash-can"></i>
            Remove
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
