<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-white">
    <div class="container d-flex justify-content-center">
      <div class="d-flex flex-column gap-5 col-12 col-lg-10 py-5">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
